@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Red+Hat+Display:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,600&family=Poppins:wght@300;400&family=Red+Hat+Display:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color-green: #0bba48;
  --btn-bg-gray: #e9e6ed;
  --text-color-white: #ffffff;
  --text-color-black: #555555;
}

body {
  font-family: "Poppins", sans-serif;
}
.navbar {
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px var(--text-color-black);
  border-bottom: 0.3px solid var(--text-color-black) !important;
}
.nav-link {
  font-size: 20px;
  color: var(--text-color-black) !important;
  transition: color 0.3s;
}

li {
  list-style-type: none;
}

li .active {
  color: var(--text-color-green) !important;
}

.ant-badge-count {
  margin-top: 10px;
  background: var(--text-color-green) !important;
  box-shadow: none !important;
}

.nav-item .badge {
  font-weight: 400;
  font-size: 20px !important;
  font-family: "Poppins", sans-serif !important;
  padding-top: 10px;
  padding-left: 0px;
}

/* Footer  */
.footer {
  padding: 20px;
  color: var(--text-color-white);
  background-color: var(--text-color-black) !important;
}
.footer a {
  text-decoration: none;
  color: var(--text-color-white);
  padding: 0px 10px;
}
.footer a:hover {
  color: var(--text-color-green) !important;
  border-bottom: 1px solid var(--text-color-green);
}

/* banner */
.banner {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner h1 {
  font-weight: 700;
  font-family: "roboto", "sans-serif";
  letter-spacing: 3px;
}
.banner p {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}
.button {
  color: var(--text-color-white);
  padding: 15px 20px;
  background-color: var(--text-color-green);
  border: 1px solid var(--text-color-green);
  border-radius: 5px;
}
.button:hover {
  background-color: var(--text-color-black);
}

.login {
  margin-top: 50px;
}
.cartbtn {
  padding: 5px 0px;
  border: 0px solid var(--btn-bg-gray);
  background-color: var(--btn-bg-gray);
}
.cartbtn:hover {
  background-color: var(--text-color-green);
}
/* home products */
.producttitle {
  font-weight: 600;
  text-transform: uppercase;
  color: var(--text-color-green) !important;
  font-family: "Poppins", sans-serif;
}
.homeaboutus {
  background-color: var(--btn-bg-gray);
  padding-top: 20px;
  box-shadow: 0 8px 6px -6px var(--btn-bg-gray);
  border-bottom: 0.3px solid var(--btn-bg-gray) !important;
}

/* Contact us */
.contactus {
  margin: 20px;
  padding: 5px;
  width: 50%;
  height: 70%;
  background-color: var(--text-color-white);
  color: var(--text-color-black);
}
/* Page Not found */
.PageNotFound {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  min-height: 75vh;
}

.pnf-btn {
  text-decoration: none;
  padding: 10px 20px;
}

.contact-title {
  margin-top: 50px;
  color: white;
  background-color: black;
}

/* Product Link  */
.product-link {
  text-decoration: none;
  color: black;
}
