@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Red+Hat+Display:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,600&family=Poppins:wght@300;400&family=Red+Hat+Display:wght@300&display=swap");
@import "react-alice-carousel/lib/alice-carousel.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --custom-color-blue: #007bff;
  --hover-color-blue: #0056b3;
  --text-color-light: #f8f9fa;
}
/* font-family: 'Poppins', sans-serif;
font-family: 'Red Hat Display', sans-serif; */

/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Red Hat Display', sans-serif; */

.custom-bg-color {
  background-color: var(--custom-color-blue) !important;
}

.navbar {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px var(--hover-color-blue);
  border-bottom: 0.3px solid var(--hover-color-blue) !important;
}
.nav-link {
  font-weight: 300 !important;
  color: var(--text-color-light) !important;
  transition: color 0.3s;
}
.nav-item a:hover {
  color: var(--hover-color-blue) !important;
}
li .active {
  border-bottom: 1px solid var(--text-color-light);
}

.ant-badge-count {
  background: var(--hover-color-blue) !important;
  box-shadow: none !important;
}
.ant-badge .nav-item a {
  margin-top: 4px;
  font-weight: 450 !important;
  font-size: 15px;
}
.nav-bar {
  font-weight: 700;
  font-family: "roboto", "sans-serif";
  letter-spacing: 3px;
}

/* Footer  */
.footer {
  color: var(--text-color-light);
  padding: 20px;
  background: var(--custom-color-blue);
}
.footer a {
  text-decoration: none;
  color: var(--text-color-light);
  padding: 0px 10px;
}
.footer a:hover {
  color: var(--hover-color-blue) !important;
  border-bottom: 1px solid var(--hover-color-blue);
}

/*slider */
.carousel-inner {
  /* background-image: var(--custom-color-blue); */
  opacity: 0.8;
  padding: 10px;
}
.carousel-item {
  height: 300px !important;
  overflow: "hidden";
}

/*card*/
.card{
  height: 350px!important;
  overflow-x: auto;
}
.card-img-top{
  height: 50%;
}

/* Page Not found */
.PageNotFound {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  min-height: 75vh;
}

.pnf-btn {
  text-decoration: none;
  padding: 10px 20px;
}

.contact-title {
  margin-top: 50px;
  color: white;
  background-color: black;
}

/* Register Page */
.register {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  min-height: 75vh;
  margin-left: 25%;
}

/* Product Link  */
.product-link {
  text-decoration: none;
  color: black;
}
